*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000000;
}

.eeee{
    position: relative;
    width: 100%;
    height: 100vh;


    justify-content: center;
    align-items: center;
    display: flex;

    overflow: hidden;
}


.eeee video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px);
}
